.wrapperServices {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover; }

.services {
  padding-top: 70px;
  padding-bottom: 75px;
  width: 100%;
  text-align: center;
  max-width: 1180px;
  margin: auto;
  font-weight: 400;
  /*h2 {/
        font-weight: 900;
        display: block;
        font-size: 2.5rem;
        color: #f3f3f3;
        padding-bottom: 10px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 700;
    }
    h2:after {
        content: "";
        margin-top: 37px;
        display: block;
        width: 114px;
        height: 25px;
        border-bottom: 8px solid #31c4dd;
        margin: auto; }*/ }
  .services h2 {
    font-weight: 900;
    display: block;
    font-size: 2.5rem;
    color: #f3f3f3;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase; }
  .services h2:after {
    content: "";
    margin-top: 37px;
    display: block;
    width: 114px;
    height: 25px;
    border-bottom: 8px solid #31c4dd;
    margin: auto; }

.cup {
  background: url(../img/cup.png) center 10px no-repeat; }

.boxs {
  background: url(../img/boxs.png) center 10px no-repeat; }

.horn {
  background: url(../img/horn.png) center 10px no-repeat; }

.messages {
  background: url(../img/messages.png) center 10px no-repeat; }

.files {
  background: url(../img/files.png) center 10px no-repeat; }

.android {
  background: url(../img/android.png) center 10px no-repeat; }

.services-item {
  margin-top: 50px;
  padding: 45px 40px;
  text-align: center;
  color: #f3f3f3; }

.services-item p {
  color: #f3f3f3;
  text-transform: uppercase;
  font-size: 1rem; }

.services-item h3 {
  color: #f3f3f3;
  font-size: 1.375rem; }

/*
  height: 300px;
  padding-top: 50px;
  text-align: center;
  color: #f3f3f3; */
